<div class="admin-container">
  <div class="admin-card">
    <div class="admin-title">Audit Logs</div>

    <table class="audit-table">
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Action</th>
        <th>Entity</th>
        <th>Entity ID</th>
        <th>IP</th>
      </tr>

      <tr *ngFor="let log of logs">
        <td class="audit-time">
        {{ log.createdAt | date:'dd MMM yyyy, hh:mm a' }}
        </td>

        <td>{{ log.userId }}</td>
        <td class="audit-action {{log.action}}">{{ log.action }}</td>
        <td>{{ log.entity }}</td>
        <td>{{ log.entityId }}</td>
        <td>{{ log.ipAddress }}</td>
      </tr>
    </table>

    <div class="pagination">
      <button (click)="prev()">Prev</button>
      <span>Page {{page + 1}} / {{totalPages}}</span>
      <button (click)="next()">Next</button>
    </div>
  </div>
</div>
