<div *ngIf="loadingBugs" class="alert alert-info text-center">
  Loading bug reports...
</div>

<div *ngIf="!loadingBugs && bugReports.length === 0"
     class="alert alert-secondary text-center">
  You haven't submitted any bug reports yet.
</div>

<div *ngIf="!loadingBugs" class="bug-list-container">

  <div class="bug-row" *ngFor="let bug of bugReports">

    <div class="bug-card">

      <!-- HEADER -->
      <div class="bug-header">
        <span
          class="status"
          [ngClass]="{
            'status-submitted': bug.status === 'SUBMITTED',
            'status-review': bug.status === 'IN_REVIEW',
            'status-accepted': bug.status === 'ACCEPTED',
            'status-invalid': bug.status === 'INVALID',
            'status-dup': bug.status === 'DUPLICATE'
          }">
          {{ bug.status | titlecase }}
        </span>

        <span
          class="severity"
          [ngClass]="{
            'sev-critical': (bug.adminSeverity || bug.reporterSeverity) === 'CRITICAL',
            'sev-high': (bug.adminSeverity || bug.reporterSeverity) === 'HIGH',
            'sev-medium': (bug.adminSeverity || bug.reporterSeverity) === 'MEDIUM',
            'sev-low': (bug.adminSeverity || bug.reporterSeverity) === 'LOW'
          }">
          {{ bug.adminSeverity || bug.reporterSeverity || 'Unassigned' }}
        </span>
      </div>

      <!-- MAIN -->
      <div class="bug-main">
        <div class="bug-title">
          {{ bug.title }}
        </div>
        <div>
          {{ bug.description | slice:0:100 }}{{ bug.description.length > 100 ? '...' : '' }}
        </div>
        <div>
          
        </div>
        <div class="bug-meta">
          <div><strong>Scope:</strong> {{ bug.scopeTitle }}</div>
          <div><strong>Organization:</strong> {{ bug.organizationName }}</div>
          <div class="date">
            Submitted {{ bug.submittedAt | date:'medium' }}
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="bug-footer">
        <span class="bug-id">#{{ bug.id }}</span>

        <a
          class="btn btn-outline-primary btn-sm"
          [routerLink]="['/researcher/bugs', bug.id]">
          View Details →
        </a>
      </div>

    </div>

  </div>
</div>
