<div class="dashboard-container" *ngIf="!loading; else loadingTpl">
  <h1>Welcome, {{ organization?.name }}</h1>
  <div class="status" [ngClass]="approvalStatus">
    Approval Status: <strong>{{ organization?.isApproved  }}</strong>
  </div>

  <section class="org-info">
    <h2>Organization Info</h2>
    <p><strong>Email:</strong> {{ organization?.contactEmail }}</p>
    <p><strong>Registered At:</strong> {{ organization?.createdAt }}</p>
    <p><strong>Description:</strong> {{ organization?.description }}</p>
  </section>

  <section class="scopes">
    <h2>Scopes</h2>
    <ul>
      <li *ngFor="let scope of scopes">
        <strong>{{ scope.title }}</strong> - {{ scope.targetUrl }}
        <span class="scope-actions">
          <button [routerLink]="['scopes/', scope.id, 'edit']">Edit</button>
        </span>
      </li>
    </ul>
    <button routerLink="/dashboard/org/scopes/add">Add New Scope</button>
  </section>

  <section class="bugs">
    <h2>Bug Reports</h2>
    <div class="table-controls">
  <input
    type="text"
    placeholder="Search by title"
    [(ngModel)]="searchTerm"
    (ngModelChange)="currentPage = 1"
  />

  <select [(ngModel)]="sortField">
    <option value="submittedAt">Submitted Time</option>
    <option value="title">Title</option>
    <option value="severity">Severity</option>
  </select>

  <select [(ngModel)]="sortDirection">
    <option value="desc">Descending</option>
    <option value="asc">Ascending</option>
  </select>
</div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Scope</th>
          <th>Researcher</th>
          <th>Status</th>
          <th>Severity</th>
          <th>Submitted</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bug of paginatedBugs">
          <td>{{ bug.title }}</td>
          <td>{{ bug.scopeTitle }}</td>
          <td>{{ bug.reporter }}</td>
          <td>{{ bug.status }}</td>
          <td>{{ bug.severity || 'Unassigned' }}</td>
          <td>{{ bug.submittedAt }}</td>
          <td>
            <button [routerLink]="['/dashboard/org/bugs', bug.id, 'review']">Review</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination" *ngIf="totalPages > 1">
  <button
    (click)="currentPage = currentPage - 1"
    [disabled]="currentPage === 1">
    Prev
  </button>

  <span>Page {{ currentPage }} of {{ totalPages }}</span>

  <button
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage === totalPages">
    Next
  </button>
</div>

    <div *ngIf="bugs.length === 0">No bug reports yet.</div>
  </section>

</div>

<ng-template #loadingTpl>
  <div class="loading">Loading dashboard...</div>
</ng-template>
