<div class="dashboard-container">
  <section>
   
    <div class="header-row">
      <h2>Public Organizations & Scopes</h2>

      <form class="searchf" (submit)="$event.preventDefault()">
        <input
          class="form-control searcht"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
          name="search"
        >
        <button class="btn btn-outline-success search" type="submit">
          Search
        </button>
      </form>
    </div>

    <div *ngIf="loadingOrgs">Loading organizations...</div>
    <div *ngIf="!loadingOrgs && filteredOrganizations.length === 0">No public organizations found.</div>
    <div *ngIf="!loadingOrgs && filteredOrganizations.length > 0">
      <div *ngFor="let org of filteredOrganizations" class="org-card" [@listAnimation]>
        <h3>{{ org.name }}</h3>
        
        <p>{{ org.description }}</p>
        <ul>
          <li *ngFor="let scope of org.scopes">
            <strong>{{ scope.title }}</strong> ({{ scope.type }}) - {{ scope.targetUrl }}
            <div class="scopeButtons">
            <button (click)="viewScopeDetails(scope.id)">View Scope Details</button>
            <button [routerLink]="['/researcher/bug-report', scope.id]">Report Bug</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  
</div>
